<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bulkdsms</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<body>
<!.. Navigation bar ..>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href=" /">My messaging website</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href=" /">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="sms/">SMS Page</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://sroyalgupta.github.io/">About me</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!.. Navigation bar ends ..>

{% csrf_token %}
<form style="margin-top:100px;margin-left:100px;margin-right:100px;" action="/bulkemailm/" method="POST">
    {% csrf_token %}

  <div class="form-group">
    <label for="exampleFormControlSelect1">Select number of receivers</label>
    <select class="form-control" id="val"  name="sel" onchange="fun()">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
  <div class="container">
  <span id="1"></span>
  <span id="2"></span>
  <span id="3"></span>
  <span id="4"></span>
  <span id="5"></span>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter your message</label>
    <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your message.."></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

<script type="text/javascript">
    function fun(){
      var a=document.getElementById('val').value;
      b=parseInt(a);
      for(var x=1;x<=5;x++){
        document.getElementById(x).innerHTML='<span id=x></span>'
      }
      for(var x=1;x<=b;x++){
        document.getElementById(x).innerHTML='<div class="form-group"><label for="exampleInputEmail1">Enter the Receiver Email address:</label><input type="email" class="form-control" name='+x+'  aria-describedby="emailHelp" placeholder="Enter email"><small id="emailHelp" class="form-text text-muted">We will never share your email with anyone else.</small></div>'
        console.log(document.getElementsByName('pr1'))
      }
    }
</script>
</form>
</body>
</html>